.mymodule {
  margin: 10px;
}

.otherUserPhonesPanel{
    float: right;
    width: 180px;
    background-color:#f7f7f7;
    margin-top: 6px;
}

.Bootstrap .otherUserPhonesPanel .list-group-item{
    background-color: #f7f7f7;
    border: 0px;
}

.CallHandling-phone-list {

}
.phone-card {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px dashed gray;
  background: white;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.phone-card-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  border-color: forestgreen;
  opacity: 0;
}

.Bootstrap .btn-toolbar {
    margin-bottom: 6px;
    margin-left: 16px;
    padding-top: 6px;
}

.btnToolBar {
    border-bottom: 1px solid #d9d9d9;
    background-color: #f7f7f7;
}
