.mymodule {
  margin: 10px;
}

.otherUserPhonesPanel{
    float: right;
    width: 180px;
    background-color:#f7f7f7;
}
.Bootstrap .list-group-item{
    background-color: white;
}

.CallHandling-phone-list {

}
.phone-card {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px dashed gray;
  background: white;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.phone-card-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  border-color: forestgreen;
  opacity: 0;
}
