.mymodule {
  margin: 10px;
}

.otherUserPhonesPanel{
    float: right;
    width: 180px;
    background-color:#f7f7f7;
}
.Bootstrap .list-group-item{
    background-color: white;
}

.CallHandling-phone-list {

}
